$font-f-main: "Open Sans", "Arial", sans-serif;
$font-f-secondary: "Gilroy", "Arial", sans-serif;

// <--- Colors -- >
$color-basic-black: #000000;
$color-basic-dark: #363636;
$color-basic-grey: #464646;
$color-basic-half-grey: #7e7e7e;
$color-basic-grey-light: #e5e5e5;
$color-basic-white: #ffffff;
$color-special-yellow: #f7e296;
$color-special-green: #91c92f;
$color-special-yellow-dark: #f0c52e;
$color-alert: #f6dada;
