.breadcrumbs {
  display: flex;

  padding: 0;

  list-style: none;

  letter-spacing: 0.14px;

  color: rgba(#000000, 0.3);

  font-size: 14px;
  line-height: 24px;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 40px;

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }

  &::after {
    position: absolute;
    top: 50%;
    right: -18px;

    display: block;

    width: 4px;
    height: 7px;

    content: "";
    transform: translateY(-50%);

    background-image: url("../img/icon-nav-arrow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.breadcrumbs__link {
  color: rgba(#000000, 0.3);

  &[href]:hover,
  &[href]:focus {
    color: rgba(#000000, 0.6);
  }

  &[href]:active {
    color: rgba(#000000, 0.1);
  }
}
