.catalog-nav {
  letter-spacing: 0.01em;
  text-transform: none;

  background-color: #f7e296;

  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
}

.catalog-nav__wrapper {
  display: flex;
}

.catalog-nav__list {
  min-width: 200px;
  margin: 0;
  margin-right: 40px;
  padding: 0;

  list-style: none;

  &:last-child {
    margin-right: 0;
  }
}

.catalog-nav__link {
  color: #000000;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}
