.catalog {
  display: flex;

  justify-content: space-between;
}

.catalog__filter {
  position: relative;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    width: 1000px;
    height: 100%;

    content: "";

    background-color: #eeeeee;
  }
}

.catalog__list {
  display: flex;

  width: 760px;
  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__item {
  margin-bottom: 45px;

  &:nth-last-child(1),
  &:nth-last-child(2) {
    margin-bottom: 0;
  }
}
