.catalog {
  padding-top: 37px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 24px;
}

.catalog__breadcrumbs {
  margin: 0;
  margin-bottom: 46px;
}

.catalog__wrapper {
  display: flex;
}

.catalog__filter {
  position: relative;

  width: 328px;
  // -- временное
  min-height: 1287px;
  // временное --
  padding-right: 70px;
  padding-left: 60px;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -2000px;
    z-index: -1;

    background-color: rgba(#000000, 0.08);
  }
}

.catalog__content {
  flex-grow: 1;
  padding-left: 72px;
}

.catalog__sort {
  position: relative;

  margin-bottom: 69px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -2000px;
    bottom: 0;
    left: -2000px;
    z-index: -1;

    display: block;

    background-color: rgba(#000000, 0.08);
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  width: 360px;
}
