.contact {
  width: 560px;
  padding-top: 50px;
  padding-bottom: 90px;
}

.contact__title {
  margin: 0;
  margin-bottom: 50px;
}

.contact__text {
  margin: 0;
  margin-bottom: 30px;
}

.contact__map {
  width: 560px;
  height: 222px;
  margin: 0;
  margin-bottom: 80px;
  background-color: #e9e9e9;
}
