.contacts {
  position: relative;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  padding-top: 40px;
  padding-bottom: 90px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 80px;
    height: 7px;

    content: "";

    background-color: #000000;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 50px;
}

.contacts__desc {
  margin: 0;
  margin-bottom: 40px;

  color: #464646;
}

.contacts__map {
  display: flex;

  width: 560px;
  height: 222px;
  margin-bottom: 80px;

  img {
    display: block;

    width: 560px;
    height: 222px;
    margin: auto;
  }
}

.contacts__write-us {
  margin-top: auto;
}
