.custom-textbox {
  label {
    color: #000000;

    font-family: $font-f-secondary;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
  }

  input,
  textarea {
    display: block;

    width: 100%;

    color: #464646;
    border-width: 3px;
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 0;
    background-color: #f2f2f2;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    &::placeholder {
      opacity: 0.4;
      color: #464646;
    }

    &:hover {
      border-color: #eaeaea;
      background-color: #eaeaea;
    }

    &:focus {
      border-color: #f7e296;
      background-color: #ffffff;
    }

    &:invalid {
      border-color: #f6dada;
      background-color: #f6dada;
    }
  }
}
