.custom-checkbox {
  label {
    position: relative;

    padding-left: 40px;

    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;

      display: block;

      width: 27px;
      height: 23px;

      content: "";
      transform: translateY(-50%);

      background-image: url("../img/checkbox-off.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &:hover,
    &:focus {
      &::before {
        opacity: 0.6;
      }
    }

    &:active {
      &::before {
        opacity: 1;
      }
    }
  }

  input:checked + label {
    &::before {
      background-image: url("../img/checkbox-on.svg");
    }
  }

  input:focus + label {
    &::before {
      opacity: 0.6;
    }
  }

  input:active + label {
    &::before {
      opacity: 1;
    }
  }
}
