.custom-radiobutton {
  label {
    position: relative;

    padding-left: 40px;

    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;

      display: block;

      width: 25px;
      height: 25px;

      content: "";
      transform: translateY(-50%);

      border: 4px solid #000000;
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 8px;

      display: none;

      width: 9px;
      height: 9px;

      content: "";
      transform: translateY(-50%);

      border-radius: 50%;
      background-color: #000000;
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        opacity: 0.6;
      }
    }

    &:active {
      &::before,
      &::after {
        opacity: 1;
      }
    }
  }

  input:checked + label {
    &::after {
      display: block;
    }
  }

  input:focus + label {
    &::before,
    &::after {
      opacity: 0.6;
    }
  }

  input:active + label {
    &::before,
    &::after {
      opacity: 1;
    }
  }
}
