.filter {
  width: 330px;
  padding-right: 70px;
  padding-left: 60px;

  background-color: #efefef;
}

.filter__title {
  letter-spacing: 0.91px;
  text-transform: uppercase;

  font-family: $font-f-secondary;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
}

.filter__group {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-bottom: 40px;

  border: none;
  border-bottom: 2px solid #000000;
}

.filter__group-title {
  display: block;

  margin-bottom: 25px;

  font-family: $font-f-secondary;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.filter__list {
  margin: 0;
  padding: 0;

  list-style: none;

  letter-spacing: 0.14px;

  font-size: 14px;
  line-height: 40px;
}
