.filter {
  padding-right: 68px;

  background-color: #efefef;
}

.filter__form {
  margin: 0;
  padding: 0;
}

.filter__title {
  margin: 0;
  margin-bottom: 70px;
  padding-top: 23px;
  padding-bottom: 23px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  font-family: $font-f-secondary;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
}

.filter__section {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  border: none;
  border-top: 2px solid #000000;
}

.filter__section-title {
  float: left;

  margin: 0;
  margin-top: 10px;
  margin-bottom: 18px;
  padding: 0;

  font-family: $font-f-secondary;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.filter__list {
  clear: both;

  margin: 0;
  padding: 0;

  list-style: none;

  letter-spacing: 0.14px;

  font-size: 14px;
  line-height: 40px;
}

.filter__submit {
  width: 100%;
}
