html {
  overflow-x: hidden;

  box-sizing: border-box;
  min-width: 1200px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #000000;
  background-color: #ffffff;

  font-family: $font-f-main;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

img {
  max-width: 100%;
}
