html {
  box-sizing: border-box;
  min-width: 1200px;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-width: 1200px;
  overflow-x: hidden;

  font-family: $font-f-main;
  color: #000000;

  background: #ffffff;
}

img {
  max-width: 100%;
}
