.inner-page__title {
  margin: 0;
  margin-bottom: 25px;

  letter-spacing: 0.17px;

  font-family: $font-f-secondary;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
}

.inner-page__breadcrumbs {
  margin: 0;
  margin-bottom: 45px;
}
