.logo {
  display: block;
  width: 164px;
  height: 35px;

  &--yellow {
    .logo__image {
      fill: #ffc600;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
