.main-footer {
  padding-top: 65px;
  padding-bottom: 65px;

  color: #ffffff;
  background-color: #464646;
}

.main-footer__wrapper {
  display: flex;

  margin-bottom: 65px;

  align-items: center;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 0;
  }
}

.main-footer__logotype {
  margin: 0;

  svg {
    fill: #ffc600;
  }
}

.main-footer__user-nav {
  margin-bottom: 40px;

  .user-nav__link {
    color: #ffffff;

    &--login,
    &--username {
      margin-left: auto;
    }
  }
}

.main-footer__site-nav {
  .site-nav__link {
    color: #ffffff;
  }
}

.main-footer__phone {
  margin: 0;
}

.main-footer__social {
  margin: 0;
}

.main-footer__copyright {
  margin: 0;
}

.main-footer__decorate-line {
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}
