.main-header__wrapper {
  padding: 0;
  padding-top: 23px;
  padding-right: 60px;
  padding-bottom: 50px;
  padding-left: 60px;

  background: linear-gradient(#ffffff 0, #ffffff 40px, rgba(#f0c52e, 0.5) 40px, rgba(#f0c52e, 0.5) 100%);
}

.main-header__logo {
  margin-bottom: 17px;
}
