.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav__user-nav {
  margin: 0;
  margin-bottom: 40px;

  .user-nav__link {
    &--login,
    &--logout {
      margin-right: auto;
    }
  }
}

.main-nav__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  width: 500px;
}
