.main-nav__wrapper {
  display: flex;

  width: 500px;
}

.main-nav__user-nav {
  display: flex;
  justify-content: space-between;

  margin-bottom: 28px;
}

.main-nav__site-nav {
  display: flex;
  justify-content: space-between;
}

