
.modal__close-btn {
  width: 55px;
  height: 55px;

  opacity: 0.5;
  border: none;
  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
