.page-footer {
  color: $color-basic-white;
  background-color: $color-basic-dark;
}

.page-footer__wrapper {
  padding-top: 46px;
  padding-bottom: 65px;
}

.page-footer__columns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 40px;

  &--middle {
    margin-bottom: 66px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.page-footer__logo {
  margin-top: 18px;
}

.page-footer__user-nav {
  align-self: flex-start;

  margin: 0;
}

.page-footer__site-nav {
  justify-content: center;

  width: 450px;
  margin: 0;

  .site-nav__item {
    margin-right: 33px;
  }
}

.page-footer__address {
  width: 260px;
  margin: 0;
}

.page-footer__phone {
  width: 260px;
  margin: 0;

  text-align: right;
}

.page-footer__decorative-line {
  width: 80px;
  height: 7px;

  background-color: $color-special-yellow-dark;
}

.page-footer__social {
  margin: 0;
}

.page-footer__copyright {
  display: block;

  width: 27px;
  height: 34px;

  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
