.page-main__promo {
  margin-bottom: 96px;
}

.page-main__columns {
  display: flex;
  justify-content: space-between;
}

.page-main__about-us {
  width: 500px;
  margin-bottom: 80px;
}

.page-main__contact {
  width: 560px;
  margin-bottom: 80px;
}
