

.page-main__flex-wrapper {
  display: flex;
  justify-content: space-between;

  padding-right: 20px;
  padding-left: 20px;
}

.page-main__about-us {
  width: 480px;
}

.page-main__contacts {
  width: 560px;
}
