.page-footer {
  color: #ffffff;
  background-color: #464646;
}

.page-footer__wrapper {
  padding-top: 65px;
  padding-right: 20px;
  padding-bottom: 65px;
  padding-left: 20px;
}

.page-footer__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.page-footer__site-nav {
  justify-content: center;
}

.page-footer__addres {
  font-style: normal;
}

.page-footer__phone {
  text-align: right;

  color: inherit;
}
