.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  letter-spacing: 0.91px;
  text-transform: uppercase;

  background-color: #ebebeb;

  font-family: $font-f-secondary;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
}

.pagination__list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__prev,
.pagination__next {
  display: block;

  padding-top: 23px;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 30px;

  color: #000000;

  &[href]:hover,
  &[href]:focus {
    background-color: #d8d8d8;
  }

  &[href]:active {
    color: rgba(#000000, 0.3);
    background-color: #d8d8d8;
  }
}

.pagination__prev {
  margin-right: auto;
}

.pagination__next {
  margin-left: auto;

  text-align: right;
}

.pagination__item {
  margin-right: 31px;

  color: rgba(#000000, 0.3);

  a {
    color: inherit;
  }

  &--current {
    color: rgba(#000000, 1);
  }

  &:hover:not(&--current),
  &:focus:not(&--current) {
    color: rgba(#000000, 0.6);
  }

  &:active:not(&--current) {
    color: rgba(#000000, 1);
  }

  &:last-child {
    margin-right: 0;
  }
}
