.product-categories__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.product-categories__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;

  font-family: $font-f-secondary;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.product-categories__item {
  display: flex;

  width: 160px;
}

.product-categories__link {
  display: block;

  width: 100%;

  color: #000000;

  &:hover,
  &:focus {
    .product-categories__icon {
      background-color: rgba(#f0c52e, 1);
    }
  }

  &:active {
    .product-categories__icon {
      background-color: rgba(#f0c52e, 1);
    }

    .product-categories__image {
      opacity: 0.5;
    }

    .product-categories__title {
      opacity: 0.5;
    }
  }
}

.product-categories__icon {
  display: flex;

  width: 160px;
  height: 160px;
  margin: 0;
  margin-bottom: 30px;

  background-color: rgba(#f0c52e, 0.5);

  img {
    margin: auto;
  }
}

.product-categories__title {
  margin: 0;
}
