.product-props-table {
  border-collapse: collapse;

  td {
    width: 160px;
  }
}

.product-props-table__value {
  letter-spacing: 0.36px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.product-props-table__title {
  letter-spacing: 0.13px;

  color: #464646;

  font-size: 13px;
  line-height: 20px;
}
