.promo-product__title {
  font-family: $font-f-secondary;
  font-size: 47px;
  line-height: 56px;
}

.promo-product__desc {
  color: #464646;
}

.promo-product__props-name {
  color: #464646;

  font-size: 13px;
  line-height: 20px;
}

.promo-product__props-value {
  font-family: $font-f-secondary;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}
