.promo {
  position: relative;

  padding-right: 80px;
}

.promo__list {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.promo__item {
  display: none;

  &--show {
    display: block;
  }
}

.promo__slide-controls {
  position: absolute;
  top: 50%;
  right: 80px;

  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  li {
    width: 12px;
    height: 12px;
    margin-right: 21px;

    border: 2px solid #000000;
    border-radius: 50%;

    &:last-child {
      margin-right: 0;
    }
  }
}
