.promo__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.promo__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo__item {
  display: none;

  &--active {
    display: block;
  }
}
