.search-form {
  display: flex;

  width: 440px;
}

.search-form__search-input {
  flex-grow: 1;

  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 39px;

  letter-spacing: 0.15px;

  opacity: 1;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  background-color: transparent;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 3px 50%;

  font-size: 15px;
  font-weight: 300;
  line-height: 30px;

  &::placeholder {
    opacity: 0.3;
    color: #000000;
  }

  &:hover {
    &::placeholder {
      opacity: 0.6;
    }
  }

  &:focus {
    border-color: #000000;
    outline: none;
  }
}

.search-form__btn {
  display: none;

  cursor: pointer;
  text-align: center;

  border: 2px solid #000000;
  border-radius: 0;
  outline: none;
  background-color: transparent;

  font-size: 15px;
  line-height: 30px;

  &:hover,
  &:focus {
    display: block;

    color: #ffffff;
    background-color: #000000;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}

.search-form__search-input:focus + .search-form__btn {
  display: block;
}
