.services {
  padding-top: 70px;
  padding-bottom: 70px;

  background: linear-gradient(to bottom, transparent, transparent 170px, #e5e5e5 170px, #e5e5e5);
}

.services__wrapper {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}

.services__list {
  position: relative;

  width: 760px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services__item {
  position: absolute;
  top: 0;

  display: none;

  height: 100%;
  padding-top: 80px;

  background-repeat: no-repeat;
  background-position: 100% 50%;

  &--show {
    position: relative;

    display: block;
  }

  &--delivery {
    background-image: url("../img/delivery.svg");
  }

  &--warranty {
    background-image: url("../img/warranty.svg");
  }

  &--credit {
    background-image: url("../img/credit.svg");
  }
}

.services__title {
  margin: 0;
  margin-bottom: 40px;
}

.services__desc {
  width: 460px;
  margin: 0;

  letter-spacing: 0.15px;

  color: #464646;
}
