.social {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  width: 32px;
  height: 32px;
  margin-right: 22px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}
