.sort-nav {
  display: flex;
  align-items: center;

  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 72px;

  background-color: #ebebeb;
}

.sort-nav__title {
  margin: 0;
  margin-right: 55px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  font-family: $font-f-secondary;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
}

.sort-nav__type {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;

  color: rgba(#000000, 0.3);

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.sort-nav__item {
  margin-right: 30px;

  color: rgba(#000000, 0.3);

  a {
    color: inherit;
  }

  &:last-child {
    margin-right: 0;
  }

  &--active {
    color: rgba(#000000, 1);
  }

  &:hover,
  &:focus {
    color: rgba(#000000, 0.6);
  }

  &:active {
    color: rgba(#000000, 1);
  }
}

.sort-nav__directions {
  display: flex;

  margin-left: auto;
}

.sort-nav__direction {
  display: block;

  width: 11px;
  height: 10px;
  margin-left: 19px;

  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: 0 0;

  &--up {
    background-image: url("../img/icon-up-dir.svg");
  }

  &--down {
    background-image: url("../img/icon-down-dir.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.4;
  }

  &:active,
  &--active {
    opacity: 1;
  }
}
