.sort-nav {
  display: flex;
  align-items: center;

  padding-top: 23px;
  padding-bottom: 23px;

  font-size: 14px;
  line-height: 18px;
}

.sort-nav__title {
  margin: 0;
  margin-right: 50px;

  letter-spacing: 3.7px;
  text-transform: uppercase;

  font-family: $font-f-secondary;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
}

.sort-nav__list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-nav__item {
  margin-right: 30px;

  opacity: 0.3;
  color: #000000;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &--active,
  &:active {
    opacity: 1;
  }

  &:last-child {
    margin-right: 0;
  }
}

.sort-nav__link {
  text-decoration: none;

  color: #000000;
}

.sort-nav__toggles {
  display: flex;

  margin-left: auto;
}

.sort-nav__toggle {
  display: block;

  width: 10px;
  height: 10px;
  margin-right: 18px;

  opacity: 0.2;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;

  &--up {
    border-bottom: 10px solid #000000;
  }

  &--down {
    border-top: 10px solid #000000;
  }

  &:hover,
  &:focus {
    opacity: 0.4;
  }

  &--active,
  &:active {
    opacity: 1;
  }

  &:last-child {
    margin-right: 0;
  }
}
