.user-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 0;

  list-style: none;
}

.user-nav__search-form {
  margin: 0;
  padding: 0;
}

.user-nav__link {
  position: relative;

  margin-right: 40px;
  padding-left: 27px;

  text-decoration: none;
  letter-spacing: 0.15px;

  color: #000000;

  &:last-child {
    margin-right: 0;
  }

  &--login {
    .user-nav__icon {
      width: 13px;
      height: 12px;
    }
  }

  &--logout {
    padding-left: 0;

    opacity: 0.3;
  }

  &--username {
    margin-right: 20px;

    .user-nav__icon {
      width: 13px;
      height: 12px;
    }
  }

  &--compare {
    .user-nav__icon {
      width: 10px;
      height: 10px;
    }
  }

  &--cart {
    padding-left: 27px;

    .user-nav__icon {
      width: 12px;
      height: 12px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-nav__icon {
  position: absolute;
  top: 50%;
  left: 7px;

  transform: translateY(-50%);

  fill: #000000;
}

.user-nav__link--white {
  .user-nav__icon {
    fill: #ffc600;
  }
}
