.user-nav {
  display: flex;
  align-items: baseline;
}

.user-nav__link {
  display: block;
  margin-right: 41px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.15px;

  &--user {
    margin-right: 20px;

    .user-nav__icon {
      width: 13px;
      height: 12px;
      margin-right: 13px;
    }
  }

  &--logout {
    margin-right: auto;

    opacity: 0.3;
  }

  &--compare {
    .user-nav__icon {
      margin-right: 10px;
    }
  }

  &--cart {
    .user-nav__icon {
      width: 12px;
      height: 12px;
      margin-right: 10px;
    }
  }

  &:last-child,
  &:last-of-type {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-nav__icon {
  display: inline-block;
}
